using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;

namespace ChatBot.Server
{
    public static class AppSettings
    {
        public static readonly string TextAnalyserKey = "INSERT YOUR PRIMARY KEY";
    }
}